body
{
  color: white;
  background: navy;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  border-width: 4px;
  border-color: teal;
}
button{
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  border-color: teal;
}
.AU{
  border-width: 4px;
  letter-spacing: 2px;
  border-radius: 10px;
  border-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}